.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.sidebar {
  min-height: calc(100vh - 40px);
}

.sidebar .nav-link {
  color: #000;
}

.sidebar .nav-link.active {
  color: rgb(50, 169, 205);
  font-weight: bold;
}

a {
  color: #146c43;
  text-decoration: none;
}
